@import 'variables';
@import '~@douyinfe/semi-ui/dist/css/semi.min.css';

.sitter-card {
    display: flex;
    align-items: flex-start;
    .sitter-img-container {
        width: 36%;
        max-width: 180px;
        position: relative;
        .img-wrapper {
            width: 100%;
            position: relative;
            height: 0;
            padding-bottom: 100%;
            img {
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                object-fit: cover;
            }
        }
    }
    .sitter-content-wrapper {
        flex: 1;
    }
    .sitter-meta-wrapper {
        text-align: right;
        color: $gray-600;
        .price {
            color: $red;
        }
    }
}
